<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p th:text="${numero1}">Aleatorio</p>
    <p th:text="${numero2}">Aleatorio</p>
    <p th:text="${numero3}">Aleatorio</p>
    <p th:text="${numero4}">Aleatorio</p>
    <p th:text="${numero5}">Aleatorio</p>
    <p th:text="${numero6}">Aleatorio</p>
    
</body>
</html>