<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade 6</title>-->
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <footer>
        <div th:fragment="rodape" >
            <div>
                <p>IFTM Uberlândia - Centro</p>
            </div>
            <div> <img width="50%" height="150px" th:src="@{/img/iftm.png}"/> </div>
        </div>
    </footer>
    
</body>
</html>